$theme-colors: (
    primary: #1E9B4F,
    black:#393939,
    black-group8:rgba(79, 78, 81, 1),
    danger: rgba(234, 38, 42, 1),
    success:#12B76A,
    warning:#F79009,
    warningBg:rgba(247, 144, 9, 0.10),
    placeholder: #6E7887,
    white:#ffffff,
    whiteone:#F9F9F9,
    white-group1: rgba(249, 249, 249, 1),
    white-group8: rgba(244, 244, 244, 1),
    grey: #767577,
    light-grey:#CFCFCF,
    grey8:#9E9DA0,

);