@import "color";
@import "mixins";
/*-----------------------
   fontFamily
-------------------------*/
$font-family-base: 'avenir-Regular',
    sans-serif;
$font-family-medium: 'avenir-medium',
    sans-serif;
$font-family-semibold: 'avenir-semibold', sans-serif;
$font-family-bold: 'avenir-bold',
    sans-serif;

::selection {
    background: map_get($theme-colors, black-group8);
    color: map_get($theme-colors, white);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background: #BBBDC1;
    border-radius: 120px;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    scroll-behavior: initial;
    overflow-x: hidden !important;
}

body {
    font-size: 16px;
    vertical-align: baseline;
    overflow-x: hidden !important;
    font-family: $font-family-base;
    font-weight: 400;
    background: rgba(249, 249, 249, 1);
    font-style: normal;

    &.modal-open {
        padding-right: 0 !important;
    }

    &.show-overlay {
        overflow: hidden;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    cursor: pointer !important;
}

.btn {
    box-shadow: none !important;
    outline: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

ol,
ul {
    list-style: none;
}

figure,
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-rendering: optimizelegibility;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --hover-underline-default-color: rgba(234, 38, 42, 1);
}

/*---===Global Style===--*/
.padding-section {
    padding: 60px 0;
}

/*======Button Animation=====*/
.button {
    letter-spacing: .4px;
    line-height: 1.9rem;
    vertical-align: middle;
}

.hover-add-underline {
    background-image: linear-gradient(var(--hover-underline-default-color), var(--hover-underline-default-color));
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .2s cubic-bezier(.645, .045, .355, 1);
}

.hover-add-underline:focus,
.hover-add-underline:hover {
    background-position: 0 100%;
    background-size: 100% 2px
}

.hover-add-underline.is-active:focus,
.hover-add-underline.is-active:hover {
    background-position: 100% 100%;
    background-size: 0 2px
}

.bg-red {
    opacity: 1;
    background-color: #EA262A;
}

.hover-add-swipe.bg-red {
    display: inline-block;
    background-image: linear-gradient(#9d1c30, #9d1c30);
    white-space: nowrap;
}

.hover-add-swipe {
    transition: background-size .2s cubic-bezier(.645, .045, .355, 1);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    text-decoration: none;
}

.hover-add-swipe:not([disabled]):focus,
.hover-add-swipe:not([disabled]):hover {
    background-position: 0 100%;
    background-size: 100% 100%;
}

/*---===Loader===---*/
#preloader-background,
#circle-loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit- flex;
    display: -ms- flex;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

#preloader-background {
    @include position(fixed, 0, 0, 0, 0);
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: map_get($theme-colors, white-group1);
}

#circle-loader {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 10px;
    border-top-color: map_get($theme-colors, danger);
    border-right-color: map_get($theme-colors, danger);
    border-bottom-color: map_get($theme-colors, white);
    border-left-color: map_get($theme-colors, white);
    border-radius: 50%;
    -webkit-animation: spinLoader 2s linear infinite;
    animation: spinLoader 2s linear infinite;

    @media only screen and (min-width: 991px) {
        width: 400px;
        height: 400px;
    }
}

@-webkit-keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#centre-logo {
    position: fixed;
    padding-bottom: 10px;

    @media only screen and (min-width: 991px) {
        width: 170px;
    }
}

.animatePageIn {
    position: relative;
    -webkit-animation-name: animatePageIn;
    -webkit-animation-duration: 3s;
    animation-name: animatePageIn;
    animation-duration: 3s;
}

@-webkit-keyframes animatePageIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animatePageIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container_sec {
    width: 100%;
    position: relative;

    .reveal {
        visibility: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
    }
}

/*===home-main-slider===*/
.home-main-slider {
    .image-slider {
        img {
            height: 100vh;
            object-fit: cover;
            animation: slider_img 85s infinite;
            -moz-animation: slider_img 85s infinite;
            -webkit-animation: slider_img 85s infinite;
        }
    }

    .content-slider {
        @include position(absolute, unset, 0, 0, unset);
        z-index: 9999;
        padding: 80px 0px 30px 0px;
        width: 100%;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 74%, rgba(0, 0, 0, 0.7) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 74%, rgba(0, 0, 0, 0.7) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 74%, rgba(0, 0, 0, 0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);

        .button {
            font-size: 1.3rem;
            color: #fff;
            text-transform: capitalize;
            font-family: $font-family-medium;
            width: max-content;

            span {
                span {
                    text-transform: uppercase;
                    font-family: $font-family-base;
                    color: map_get($theme-colors, whiteone);
                }
            }

            img {
                width: 0.5rem;
                @include property_dir('margin', 'right', 0.5rem);
            }
        }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 0px);
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 0px);
    }

    .main-swiper-arrow {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        background: rgba(217, 217, 217, 0.30);
        opacity: 1;
        width: 2rem;
        height: 3rem;
        backdrop-filter: blur(3.5px);
        border-radius: 0rem 0.3125rem 0.3125rem 0rem;

        img {
            margin-left: -4px;
            width: 9px;
            filter: brightness(0) saturate(100%) invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
        }

        &.swiper-button-next {
            border-radius: 0.3125rem 0rem 0rem 0.3125rem;

            img {
                margin-right: -4px;
            }
        }
    }
}

@keyframes slider_img {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes slider_img {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes slider_img {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.5);
    }

    100% {
        -moz-transform: scale(1);
    }
}

/*===second-section===*/
.second-section {
    background: map_get($theme-colors, white-group8);
    padding: 2rem 0;

    .sperator {
        &::after {
            @include position(absolute, 0, 0, 0, 0);
            content: ' ';
            background: map_get($theme-colors, danger);
            height: 50px;
            width: 2.5px;
            margin: auto;
        }
    }

    .counter {
        .counting {
            font-size: 2rem;
            color: map_get($theme-colors, black);
            font-family: $font-family-bold;
        }

        p {
            color: map_get($theme-colors, grey);
            font-size: 1.1rem;
            font-family: $font-family-semibold;

        }

    }

    h5 {
        font-size: 1.4rem;
        color: map_get($theme-colors, dark);
        font-family: $font-family-bold;
        text-transform: capitalize;

        @media (max-width: 569px) {
            font-size: 1rem;
        }
    }

    p {
        font-size: 0.98rem;
        color: map_get($theme-colors, grey);

        @media (max-width: 569px) {
            font-size: 0.798rem;
        }
    }
}

/*===details-section===*/
.details-section {
    background: map_get($theme-colors, white-group8);

    p {
        display: -webkit-box;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .first-details-description {
        background: map_get($theme-colors, black);
        padding: 2rem 0;

        p {
            font-size: 1rem;
            color: map_get($theme-colors, light-grey);
            padding: 0 1rem;

            @media (min-width: 769px) {
                padding: 0 7rem;
            }

            span {
                color: map_get($theme-colors, whiteone);
                font-family: $font-family-semibold;
            }
        }
    }

    .second-details-description {
        background: map_get($theme-colors, whiteone);
        padding: 2rem 0;

        p {
            font-size: 1rem;
            color: map_get($theme-colors, grey);
            padding: 0 1rem;

            @media (min-width: 769px) {
                padding: 0 7rem;
            }

            span {
                color: map_get($theme-colors, black);
                font-family: $font-family-semibold;
            }
        }
    }

    .interactive-section-image-part {
        .reveal {
            img {
                height: 326px;
                object-fit: cover;
                border-radius: 0;
            }
        }
    }

    .row {
        @media (max-width: 769px) {
            flex-direction: column-reverse;
        }
    }
}

/*===bulding-section===*/
.bulding-section {
    background: map_get($theme-colors, white-group8);

    .row {
        @media (max-width: 769px) {
            flex-direction: column-reverse;
        }
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 10px);
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 10px);
    }

    .logo-content-section {
        padding: 2rem 0;
    }

    .item {
        span {
            width: 100%;
            height: 100px;

            img {
                height: 62px;
            }
        }

        p {
            padding: 0 5%;
            font-size: 0.895rem;
            font-family: $font-family-semibold;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (min-width: 769px) {
                padding: 0 15%;
            }
        }

    }

    .swiper-slide {
        position: relative;

        &:not(:last-child) {
            &::after {
                @include position(absolute, 0, unset, 0, 0);
                content: ' ';
                background: map_get($theme-colors, danger);
                height: 50px;
                width: 1.5px;
                margin: auto;
            }
        }
    }

    .reveal {
        img {
            height: 260px;
            object-fit: cover;
        }
    }
}

/*===logo-with-description===*/
.logo-with-description {
    background: map_get($theme-colors, white-group8);

    .row {
        @media (max-width: 769px) {
            flex-direction: column-reverse;
        }
    }

    .logo-content-section {
        padding: 2rem 0;
    }

    .reveal {
        img {
            height: 260px;
            object-fit: cover;
        }
    }

    .swiper-slide {
        position: relative;

        &:not(:last-child) {
            &::after {
                @include position(absolute, 0, unset, 0, 0);
                content: ' ';
                background: map_get($theme-colors, danger);
                height: 50px;
                width: 1.5px;
                margin: auto;
            }
        }
    }

    .item {
        img {
            height: 60px;
            margin-bottom: 1rem !important;
        }

        p {
            padding: 0 5%;
            font-size: 1rem;
            font-family: $font-family-semibold;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (min-width: 769px) {
                padding: 0 15%;
            }
        }

    }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);

    @media (min-width: 769px) {
        right: var(--swiper-navigation-sides-offset, 60px);
    }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 10px);

    @media (min-width: 769px) {
        left: var(--swiper-navigation-sides-offset, 60px);
    }
}

.clients,
.three-logo-arrow,
.five-logo-arrow {
    img {
        width: 0.563rem;
    }
}

/*===interactive-section===*/
.interactive-section {

    .interactive-section-image-part {
        img {
            height: 295px;
            object-fit: cover;
            border-radius: 0;
        }

    }

    .interactive-section-counter {
        padding: 4rem 0 4rem 0;
        background: map_get($theme-colors, whiteone);
        background: url(../images/global-image/bg-image.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: 769px) {
            padding: 2rem 0;
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            background: map_get($theme-colors, black);
        }

        .item {
            @media (max-width: 769px) {
                margin-bottom: 6rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &:not(:last-child) {
                &::after {
                    @media (min-width: 769px) {
                        @include position(absolute, 0, unset, 0, 0);
                        content: ' ';
                        background: map_get($theme-colors, light-grey);
                        height: 50px;
                        width: 1.5px;
                        margin: auto;
                    }
                }
            }

            .counting-div {
                font-size: 2.5rem;
                color: map_get($theme-colors, danger);
                line-height: 1.625rem;
                font-family: $font-family-bold;

                @media (min-width: 769px) {
                    color: #F9F9F9;
                    font-size: 1.75rem;
                }
            }

            p {
                padding: 0 10%;
                font-size: 1.6rem;
                text-align: center;
                color: #393939;
                text-transform: capitalize;
                font-family: $font-family-semibold;

                @media (min-width: 769px) {
                    color: map_get($theme-colors, light-grey);
                    font-size: 1rem;
                }
            }
        }
    }

    .interactive-section-swiper {
        padding: 2rem 0;
        background: map_get($theme-colors, white-group8);

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;

            img {
                width: 65px;

                @media (min-width: 769px) {
                    width: 60px;
                }
            }
        }

    }
}

/*===Footer===*/
footer {
    background: #FBFAFA;
    padding: 90px 0 1.94rem 0;

    &.white-bg {
        background: #fff;
    }

    .footer__top {
        justify-content: center;
        flex-direction: column;

        @media (min-width: 769px) {
            justify-content: space-between;
            flex-direction: row;
        }

        .logo {
            margin-bottom: 1.5rem;

            img {
                width: 124px;
            }

            @media (min-width: 769px) {
                margin-bottom: 0;
            }
        }

        .button--link {
            font-size: 1rem;
            white-space: nowrap;
            text-transform: uppercase;
            color: map_get($theme-colors, black-group8);
            font-family: $font-family-semibold;

            @media (min-width: 769px) {
                text-transform: capitalize;
                font-size: 1.3rem;
                color: map_get($theme-colors, black);
            }

            img {
                width: 0.5rem;
            }
        }
    }

    .footer__center {
        padding: 1.5rem 0;

        @media (min-width: 769px) {
            padding: 50px 0;
        }

        justify-content: center;

        @media (min-width: 769px) {
            justify-content: space-between;
        }

        .social-media {
            a {
                img {
                    width: 1.15rem;
                    -webkit-transition: all 1s ease-out;
                    transition: all 1s ease-out;
                }
                img.youtube{
                    width: 1.4rem;
                }

                &:hover {
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);

                    img {
                        filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(5010%) hue-rotate(340deg) brightness(86%) contrast(114%);
                    }
                }
            }

        }

        .nav--footer {
            ul {
                gap: 1rem;

                @media (min-width: 769px) {
                    gap: 1.5rem;
                }

                li {
                    a {
                        font-size: 0.9rem;
                        line-height: 1.2rem;
                        text-transform: uppercase;
                        color: map_get($theme-colors, grey8);
                        font-family: $font-family-semibold;

                        @media (min-width: 769px) {
                            font-family: $font-family-bold;
                            color: map_get($theme-colors, black-group8);
                        }

                        &:hover,
                        &.active {
                            color: map_get($theme-colors, danger);
                        }
                    }
                }
            }

        }
    }

    .footer__bottom {
        border-top: 0.5px solid map_get($theme-colors, light-grey);
        padding-top: 1rem;

        .content {
            justify-content: center;

            @media (min-width: 769px) {
                justify-content: space-between;
            }
        }

        p {
            a{
                color: map_get($theme-colors, black-group8);
                &:hover{
                    color: map_get($theme-colors, danger);
                }
            }
            color: map_get($theme-colors, black-group8);
            &:hover{
                color: map_get($theme-colors, danger);
            }
            @media (max-width: 769px) {
                text-align: center;
            }

            &.text {
                font-size: 1rem;
                text-transform: capitalize;
                font-family: $font-family-semibold;
            }

            &.copyright {
                font-size: 0.838rem;

                a {
                    font-family: $font-family-semibold;
                    color: map_get($theme-colors, black);
                }
            }

        }
    }
}

/*==page-layout-with-bg==*/
.page-layout-with-bg {
    background: url(../images/global-image/desctop-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .construction-excellence {
        padding: 60px 0;

        h5 {
            font-size: 1.5rem;
            line-height: 2rem;
            color: map_get($theme-colors, black-group8);
            font-family: $font-family-bold;

            @media (min-width: 769px) {
                font-size: 1.87rem;
            }
        }

        .subtitle {
            @media (min-width: 991px) {
                @include property_dir('padding', 'left', 17%);
            }

            p {
                font-size: 1rem;
                color: map_get($theme-colors, black-group8);
                line-height: 1.7rem;

                span {
                    font-family: $font-family-bold;
                }

                @media (min-width: 569px) {
                    font-size: 1.15rem;
                }
            }

            span {
                &.description {
                    font-size: 0.987rem;
                    line-height: 1.5rem;
                    color: map_get($theme-colors, black-group8);
                }
            }
        }

        .button {
            width: 100%;
            min-height: 2.8rem;
            font-size: 0.989rem;
            letter-spacing: .3px;
            line-height: 2rem;
            border-radius: 0.3125rem;
            text-transform: uppercase;
            color: map_get($theme-colors, whiteone);
            font-family: $font-family-bold;

            @media (min-width: 769px) {
                width: 9rem;
            }

        }

        .image-section {
            img {
                border-radius: 0.625rem;
                height: 300px;
                object-fit: cover;
            }

            @media (max-width: 991px) {
                margin-top: 1rem;
            }
        }

        &.partner {
            .image-section {
                @media (max-width: 991px) {
                    margin-top: 0rem;
                    margin-bottom: 1rem;
                }
            }

            .subtitle {

                @media (min-width: 991px) {
                    @include property_dir('padding', 'right', 7%);
                    @include property_dir('padding', 'left', 0);
                }
            }
        }
    }


}
.section-portfolio {
    margin-top: 35px;

    .portfolio-items {
        position: relative;
        display: block;
        text-decoration: none;
        color: #fff;
        background: #fff;
    }

    .portfolio-type {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
        }

        img {
            display: block;
            width: auto;
            max-width: none;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) scale(1.1);
            transition: transform 1s ease .5s;
        }
    }

    .type {
        position: absolute;
        left: 6.3%;
        bottom: 5.72%;
        z-index: 1;
        font-size: 1.89rem;
        line-height: 1;
        transform-origin: left bottom;
        transform: rotate(-90deg) translateY(100%);
        text-transform: uppercase;
        @media screen and (min-width: 861px){
            white-space: nowrap;
        }
    }

    @media screen and (min-width: 861px) {
        height: 0;
        padding-bottom: calc(5 / 12* 100%);

        .portfolio-items {
            @include position(absolute, 0, 0, 0, 0);
            display: flex;
            justify-content: space-between;

            >a {
                width: 50%;
                height: 100%;
                will-change: width;
                transition: width 1s ease 0s;
                color: map_get($theme-colors, white-group8);
                font-family: $font-family-bold;
                position: relative;
                display: block;
                text-decoration: none;
                border-radius: 0.625rem;
                @include property_dir('padding', 'right', 3px);

                &:hover {
                    width: 175%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .portfolio-items {
        >a {
            &:hover {
                .portfolio-type {
                    &::after {
                        content: unset;
                    }
                }

            }
        }
    }

}
@media screen and (max-width: 860px) {
    .section-portfolio {
        padding-left: 20px;
        padding-right: 20px;
        .portfolio-items {
            a:not(:last-child) {
                margin-bottom: 22px;
            }
        }
    }

    .section-portfolio {
        .type {
            transform: unset !important;
            font-size: 1rem;
            color: map_get($theme-colors, white-group8);
            font-family: $font-family-bold;
        }

        .portfolio-items {
            a {
                width: 100%;
                padding-bottom: 0;
                height: 250px !important;
                display: block;

                img {
                    width: 100% !important;
                    height: 250px;
                    position: relative;
                    object-fit: cover;
                }
            }
        }
    }
}